.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-jgohepLVeKvh);
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 1439px) {
  .root > * {
    grid-column: 4;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .root > * {
    grid-column: 4;
  }
}
.navigacija:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 30px 220px;
}
@media (max-width: 1919px) {
  .navigacija:global(.__wab_instance) {
    padding: 30px 120px;
  }
}
@media (max-width: 1439px) {
  .navigacija:global(.__wab_instance) {
    padding: 30px 80px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .navigacija:global(.__wab_instance) {
    padding: 16px;
  }
}
.link__mnJ3 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img__eNpMe {
  object-fit: cover;
  height: 90px;
}
.img__eNpMe > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__eNpMe {
    height: 70px;
  }
}
.img__yDSy {
  object-fit: cover;
}
.img__yDSy > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__yDSy {
    width: 40px;
  }
}
.img__uYcee {
  object-fit: cover;
}
.img__uYcee > picture > img {
  object-fit: cover;
}
.link__vZ6AR {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 24px;
}
.izaberiteTemuVaseCarobneZabave {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  background: none;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 100px 220px;
}
.izaberiteTemuVaseCarobneZabave > * {
  grid-column: 4;
}
@media (max-width: 1919px) {
  .izaberiteTemuVaseCarobneZabave {
    padding: 128px 120px 126px;
  }
}
@media (max-width: 1919px) {
  .izaberiteTemuVaseCarobneZabave > * {
    grid-column: 4;
  }
}
@media (max-width: 1439px) {
  .izaberiteTemuVaseCarobneZabave {
    padding: 80px 40px;
  }
}
@media (max-width: 1439px) {
  .izaberiteTemuVaseCarobneZabave > * {
    grid-column: 4;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .izaberiteTemuVaseCarobneZabave {
    padding: 56px 16px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .izaberiteTemuVaseCarobneZabave > * {
    grid-column: 4;
  }
}
.h2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-Hc8A0GUuJ5dR);
  padding-bottom: 80px;
  text-align: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
@media (max-width: 1439px) {
  .h2 {
    padding: 0px 0px 40px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .h2 {
    font-size: 32px;
  }
}
.text__tNkzf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
.footer {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  background: var(--token-5aQHSgJJtjlw);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px 220px 60px;
}
.footer > * {
  grid-column: 4;
}
@media (max-width: 1919px) {
  .footer {
    padding: 0px 120px 40px;
  }
}
@media (max-width: 1919px) {
  .footer > * {
    grid-column: 4;
  }
}
@media (max-width: 1439px) {
  .footer {
    padding: 0px 40px 40px;
  }
}
@media (max-width: 1439px) {
  .footer > * {
    grid-column: 4;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .footer {
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 32px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .footer > * {
    grid-column: 4;
  }
}
.columns___66VZy {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  --plsmc-rc-col-gap: 0px;
}
.columns___66VZy > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: calc(0px - 80px);
  width: calc(100% + 80px);
  --plsmc-rc-col-gap: 80px;
}
.columns___66VZy > :global(.__wab_flex-container) > *,
.columns___66VZy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___66VZy > :global(.__wab_flex-container) > picture > img,
.columns___66VZy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 80px;
}
.columns___66VZy > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns___66VZy > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 5 / 12);
}
.columns___66VZy > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (max-width: 1919px) {
  .columns___66VZy {
    flex-direction: row;
  }
}
@media (max-width: 1919px) {
  .columns___66VZy > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: calc(0px - 80px);
    width: calc(100% + 80px);
    --plsmc-rc-col-gap: 80px;
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 1919px) {
  .columns___66VZy > :global(.__wab_flex-container) > *,
  .columns___66VZy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns___66VZy > :global(.__wab_flex-container) > picture > img,
  .columns___66VZy
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 80px;
    margin-top: 0px;
  }
}
@media (max-width: 1919px) {
  .columns___66VZy > :global(.__wab_flex-container) > :nth-child(3n + 1) {
    width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
  }
}
@media (max-width: 1919px) {
  .columns___66VZy > :global(.__wab_flex-container) > :nth-child(3n + 2) {
    width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
  }
}
@media (max-width: 1919px) {
  .columns___66VZy > :global(.__wab_flex-container) > :nth-child(3n + 3) {
    width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
  }
}
@media (max-width: 1439px) {
  .columns___66VZy {
    flex-grow: 0;
    flex-direction: row;
  }
}
@media (max-width: 1439px) {
  .columns___66VZy > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: calc(0px - 80px);
    width: calc(100% + 80px);
    --plsmc-rc-col-gap: 80px;
    margin-top: calc(0px - 40px);
    height: calc(100% + 40px);
  }
}
@media (max-width: 1439px) {
  .columns___66VZy > :global(.__wab_flex-container) > *,
  .columns___66VZy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns___66VZy > :global(.__wab_flex-container) > picture > img,
  .columns___66VZy
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 80px;
    margin-top: 40px;
  }
}
@media (max-width: 1439px) {
  .columns___66VZy > :global(.__wab_flex-container) > :nth-child(2n + 1) {
    width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
  }
}
@media (max-width: 1439px) {
  .columns___66VZy > :global(.__wab_flex-container) > :nth-child(2n + 2) {
    width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 8 / 12);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns___66VZy {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns___66VZy > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 24px);
    width: calc(100% + 24px);
    --plsmc-rc-col-gap: 24px;
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns___66VZy > :global(.__wab_flex-container) > *,
  .columns___66VZy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns___66VZy > :global(.__wab_flex-container) > picture > img,
  .columns___66VZy
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 24px;
    margin-top: 24px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns___66VZy > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___1QvNh {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
}
@media (max-width: 1439px) {
  .column___1QvNh {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .column___1QvNh {
    align-items: center;
    justify-content: flex-start;
  }
}
.img___3NUq9 {
  object-fit: cover;
  max-width: 80%;
  z-index: 10;
}
.img___3NUq9 > picture > img {
  object-fit: cover;
}
@media (max-width: 1439px) {
  .img___3NUq9 {
    max-width: 100%;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .img___3NUq9 {
    max-width: 50%;
  }
}
.column__o1T8Y {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
}
@media (max-width: 1919px) {
  .column__o1T8Y {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
@media (max-width: 1439px) {
  .column__o1T8Y {
    align-items: flex-start;
    justify-content: center;
  }
}
.h4___01Vk3 {
  position: relative;
  height: auto;
  max-width: 100%;
  color: var(--token-Hc8A0GUuJ5dR);
  padding-bottom: 30px;
  z-index: 10;
}
@media (max-width: 1919px) {
  .h4___01Vk3 {
    font-size: 28px;
  }
}
@media (max-width: 1439px) {
  .h4___01Vk3 {
    height: auto;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4___01Vk3 {
    font-size: 20px;
    padding-bottom: 16px;
  }
}
.columns__pc2C {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
}
.columns__pc2C > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
  --plsmc-rc-col-gap: 10px;
}
.columns__pc2C > :global(.__wab_flex-container) > *,
.columns__pc2C > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__pc2C > :global(.__wab_flex-container) > picture > img,
.columns__pc2C
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.columns__pc2C > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 1 / 12);
}
.columns__pc2C > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 11 / 12);
}
@media (max-width: 1919px) {
  .columns__pc2C {
    flex-direction: row;
  }
}
@media (max-width: 1919px) {
  .columns__pc2C > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 1919px) {
  .columns__pc2C > :global(.__wab_flex-container) > *,
  .columns__pc2C > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__pc2C > :global(.__wab_flex-container) > picture > img,
  .columns__pc2C
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 0px;
  }
}
@media (max-width: 1919px) {
  .columns__pc2C > :global(.__wab_flex-container) > :nth-child(2n + 1) {
    width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 1 / 12);
  }
}
@media (max-width: 1919px) {
  .columns__pc2C > :global(.__wab_flex-container) > :nth-child(2n + 2) {
    width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 11 / 12);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__pc2C {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__pc2C > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: nowrap;
    min-width: 0;
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__pc2C > :global(.__wab_flex-container) > *,
  .columns__pc2C > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__pc2C > :global(.__wab_flex-container) > picture > img,
  .columns__pc2C
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 0px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__pc2C > :global(.__wab_flex-container) > :nth-child(2n + 1) {
    width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 1 / 12);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__pc2C > :global(.__wab_flex-container) > :nth-child(2n + 2) {
    width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 11 / 12);
  }
}
.column__kIbSb {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.svg__emyKi {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-lpFSrecHZG_s);
  height: 40px;
  z-index: 10;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .svg__emyKi {
    height: 24px;
    flex-shrink: 0;
  }
}
.column__pTomk {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
}
.text__zlgdv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 22px;
  z-index: 10;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__zlgdv {
    font-size: 15px;
  }
}
.columns__ncLxk {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  margin-top: 30px;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
}
.columns__ncLxk > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
  --plsmc-rc-col-gap: 10px;
}
.columns__ncLxk > :global(.__wab_flex-container) > *,
.columns__ncLxk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__ncLxk > :global(.__wab_flex-container) > picture > img,
.columns__ncLxk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.columns__ncLxk > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 1 / 12);
}
.columns__ncLxk > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 11 / 12);
}
@media (max-width: 1919px) {
  .columns__ncLxk {
    margin-bottom: 30px;
    flex-direction: row;
  }
}
@media (max-width: 1919px) {
  .columns__ncLxk > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 1919px) {
  .columns__ncLxk > :global(.__wab_flex-container) > *,
  .columns__ncLxk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__ncLxk > :global(.__wab_flex-container) > picture > img,
  .columns__ncLxk
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 0px;
  }
}
@media (max-width: 1919px) {
  .columns__ncLxk > :global(.__wab_flex-container) > :nth-child(2n + 1) {
    width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 1 / 12);
  }
}
@media (max-width: 1919px) {
  .columns__ncLxk > :global(.__wab_flex-container) > :nth-child(2n + 2) {
    width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 11 / 12);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__ncLxk {
    width: 100%;
    height: auto;
    flex-direction: row;
    margin-top: 16px;
    margin-bottom: 0px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__ncLxk > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: nowrap;
    min-width: 0;
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__ncLxk > :global(.__wab_flex-container) > *,
  .columns__ncLxk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__ncLxk > :global(.__wab_flex-container) > picture > img,
  .columns__ncLxk
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 0px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__ncLxk > :global(.__wab_flex-container) > :nth-child(2n + 1) {
    width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 1 / 12);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__ncLxk > :global(.__wab_flex-container) > :nth-child(2n + 2) {
    width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 11 / 12);
  }
}
.column__vNrxE {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.svg__guIvr {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-lpFSrecHZG_s);
  height: 40px;
  z-index: 10;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .svg__guIvr {
    height: 24px;
    flex-shrink: 0;
  }
}
.column___7WPjs {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
}
.link___7Mb1P {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 22px;
  z-index: 10;
  color: var(--token-Hc8A0GUuJ5dR);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .link___7Mb1P {
    font-size: 15px;
  }
}
.column__kQFbi {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
}
@media (max-width: 1919px) {
  .column__kQFbi {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
@media (max-width: 1439px) {
  .column__kQFbi {
    align-items: stretch;
    justify-content: center;
  }
}
.h4__vPfXf {
  position: relative;
  height: auto;
  max-width: 100%;
  padding-bottom: 30px;
  color: var(--token-Hc8A0GUuJ5dR);
  z-index: 10;
}
@media (max-width: 1919px) {
  .h4__vPfXf {
    width: 100%;
    font-size: 28px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4__vPfXf {
    font-size: 20px;
    padding-bottom: 16px;
  }
}
.freeBox {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 40px);
  width: calc(100% + 40px);
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 40px;
}
.link__jB7XU {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.svg__ob4Cl {
  object-fit: cover;
  max-width: 100%;
  height: 48px;
  color: var(--token-lpFSrecHZG_s);
  z-index: 10;
}
@media (min-width: 0px) and (max-width: 930px) {
  .svg__ob4Cl {
    height: 40px;
  }
}
.link__vfmoz {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.svg__kuz5 {
  object-fit: cover;
  max-width: 100%;
  height: 48px;
  color: var(--token-lpFSrecHZG_s);
  z-index: 10;
}
@media (min-width: 0px) and (max-width: 930px) {
  .svg__kuz5 {
    height: 40px;
  }
}
.link__jbSuj {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.svg__txkDq {
  object-fit: cover;
  max-width: 100%;
  height: 48px;
  color: var(--token-lpFSrecHZG_s);
  z-index: 10;
}
@media (min-width: 0px) and (max-width: 930px) {
  .svg__txkDq {
    height: 40px;
  }
}
.section {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  padding-top: 80px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section > * {
  grid-column: 4;
}
@media (max-width: 1919px) {
  .section {
    padding-top: 60px;
  }
}
@media (max-width: 1919px) {
  .section > * {
    grid-column: 4;
  }
}
@media (max-width: 1439px) {
  .section > * {
    grid-column: 4;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .section {
    padding-top: 40px;
    justify-items: flex-start;
    align-content: center;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .section > * {
    grid-column: 4;
  }
}
.text__pupnJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  z-index: 100;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__pupnJ {
    width: 100%;
    text-align: center;
    font-size: 16px;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
