.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-jgohepLVeKvh);
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 1439px) {
  .root > * {
    grid-column: 4;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .root > * {
    grid-column: 4;
  }
}
.navigacija:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 30px 220px;
}
@media (max-width: 1919px) {
  .navigacija:global(.__wab_instance) {
    padding: 30px 120px;
  }
}
@media (max-width: 1439px) {
  .navigacija:global(.__wab_instance) {
    padding: 30px 80px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .navigacija:global(.__wab_instance) {
    padding: 16px;
  }
}
.link__mnJ3 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img__eNpMe {
  object-fit: cover;
  height: 90px;
}
.img__eNpMe > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__eNpMe {
    height: 70px;
  }
}
.img__yDSy {
  object-fit: cover;
}
.img__yDSy > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__yDSy {
    width: 40px;
  }
}
.img__uYcee {
  object-fit: cover;
}
.img__uYcee > picture > img {
  object-fit: cover;
}
.link__vZ6AR {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 24px;
}
.izaberiteTemuVaseCarobneZabave {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  background: none;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 100px 220px;
}
.izaberiteTemuVaseCarobneZabave > * {
  grid-column: 4;
}
@media (max-width: 1919px) {
  .izaberiteTemuVaseCarobneZabave {
    padding: 128px 120px 126px;
  }
}
@media (max-width: 1919px) {
  .izaberiteTemuVaseCarobneZabave > * {
    grid-column: 4;
  }
}
@media (max-width: 1439px) {
  .izaberiteTemuVaseCarobneZabave {
    padding: 80px 40px;
  }
}
@media (max-width: 1439px) {
  .izaberiteTemuVaseCarobneZabave > * {
    grid-column: 4;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .izaberiteTemuVaseCarobneZabave {
    padding: 56px 16px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .izaberiteTemuVaseCarobneZabave > * {
    grid-column: 4;
  }
}
.h2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-Hc8A0GUuJ5dR);
  padding-bottom: 80px;
  text-align: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
@media (max-width: 1439px) {
  .h2 {
    padding: 0px 0px 40px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .h2 {
    font-size: 32px;
  }
}
.text__tNkzf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
.footer {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  background: var(--token-5aQHSgJJtjlw);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px 220px 60px;
}
.footer > * {
  grid-column: 4;
}
@media (max-width: 1919px) {
  .footer {
    padding: 0px 120px 40px;
  }
}
@media (max-width: 1919px) {
  .footer > * {
    grid-column: 4;
  }
}
@media (max-width: 1439px) {
  .footer {
    padding: 0px 40px 40px;
  }
}
@media (max-width: 1439px) {
  .footer > * {
    grid-column: 4;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .footer {
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 32px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .footer > * {
    grid-column: 4;
  }
}
.columns__qW93D {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 80px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  --plsmc-rc-col-gap: 80px;
}
.columns__qW93D > :nth-child(4n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__qW93D > :nth-child(4n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 5 / 12);
}
.columns__qW93D > :nth-child(4n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns__qW93D > :nth-child(4n + 4) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
@media (max-width: 1919px) {
  .columns__qW93D {
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 40px;
    row-gap: 0px;
    --plsmc-rc-col-gap: 40px;
  }
}
@media (max-width: 1919px) {
  .columns__qW93D > :nth-child(4n + 1) {
    width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
@media (max-width: 1919px) {
  .columns__qW93D > :nth-child(4n + 2) {
    width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 5 / 12);
  }
}
@media (max-width: 1919px) {
  .columns__qW93D > :nth-child(4n + 3) {
    width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
  }
}
@media (max-width: 1919px) {
  .columns__qW93D > :nth-child(4n + 4) {
    width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
  }
}
@media (max-width: 1439px) {
  .columns__qW93D {
    flex-grow: 0;
    flex-wrap: nowrap;
    flex-direction: row;
    column-gap: 80px;
    row-gap: 40px;
    --plsmc-rc-col-gap: 80px;
  }
}
@media (max-width: 1439px) {
  .columns__qW93D > :nth-child(4n + 1) {
    width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
  }
}
@media (max-width: 1439px) {
  .columns__qW93D > :nth-child(4n + 2) {
    width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
  }
}
@media (max-width: 1439px) {
  .columns__qW93D > :nth-child(4n + 3) {
    width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
@media (max-width: 1439px) {
  .columns__qW93D > :nth-child(4n + 4) {
    width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__qW93D {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 40px;
    min-width: 0;
    --plsmc-rc-col-gap: 24px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__qW93D > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__bzcuS {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
}
@media (max-width: 1439px) {
  .column__bzcuS {
    align-items: flex-start;
    justify-content: center;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__bzcuS {
    align-items: center;
    justify-content: flex-start;
  }
}
.img__eWqIs {
  object-fit: cover;
  max-width: 90%;
  z-index: 10;
}
.img__eWqIs > picture > img {
  object-fit: cover;
}
@media (max-width: 1919px) {
  .img__eWqIs {
    max-width: 80%;
  }
}
@media (max-width: 1439px) {
  .img__eWqIs {
    max-width: 100%;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__eWqIs {
    max-width: 50%;
  }
}
.column___0QVxh {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
}
@media (max-width: 1919px) {
  .column___0QVxh {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
@media (max-width: 1439px) {
  .column___0QVxh {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.h4__kPix {
  position: relative;
  height: auto;
  max-width: 100%;
  color: var(--token-Hc8A0GUuJ5dR);
  padding-bottom: 30px;
  z-index: 10;
}
@media (max-width: 1919px) {
  .h4__kPix {
    font-size: 24px;
  }
}
@media (max-width: 1439px) {
  .h4__kPix {
    height: auto;
    width: 100%;
    font-size: 22px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4__kPix {
    font-size: 20px;
    padding-bottom: 16px;
  }
}
.columns__cdMyA {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 10px;
  min-width: 0;
  --plsmc-rc-col-gap: 10px;
}
.columns__cdMyA > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 1 / 12);
}
.columns__cdMyA > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 11 / 12);
}
@media (max-width: 1919px) {
  .columns__cdMyA {
    flex-direction: row;
    flex-wrap: nowrap;
    row-gap: 0px;
    --plsmc-rc-col-gap: 10px;
  }
}
@media (max-width: 1919px) {
  .columns__cdMyA > :nth-child(2n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 1 / 12);
  }
}
@media (max-width: 1919px) {
  .columns__cdMyA > :nth-child(2n + 2) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 11 / 12);
  }
}
@media (max-width: 1439px) {
  .columns__cdMyA {
    --plsmc-rc-col-gap: 10px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__cdMyA {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    row-gap: 0px;
    min-width: 0;
    --plsmc-rc-col-gap: 10px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__cdMyA > :nth-child(2n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 1 / 12);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__cdMyA > :nth-child(2n + 2) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 11 / 12);
  }
}
.column__mR2Iu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.svg__msHz2 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-lpFSrecHZG_s);
  height: 40px;
  z-index: 10;
  flex-shrink: 0;
}
@media (max-width: 1919px) {
  .svg__msHz2 {
    height: 32px;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .svg__msHz2 {
    height: 24px;
    flex-shrink: 0;
  }
}
.column__z4Qz5 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
}
.text__c7Lje {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 22px;
  z-index: 10;
  min-width: 0;
}
@media (max-width: 1919px) {
  .text__c7Lje {
    font-size: 18px;
  }
}
@media (max-width: 1439px) {
  .text__c7Lje {
    font-size: 16px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__c7Lje {
    font-size: 15px;
  }
}
.columns__hhqY {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 30px;
  column-gap: 10px;
  min-width: 0;
  --plsmc-rc-col-gap: 10px;
}
.columns__hhqY > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 1 / 12);
}
.columns__hhqY > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 11 / 12);
}
@media (max-width: 1919px) {
  .columns__hhqY {
    margin-bottom: 0px;
    flex-direction: row;
    flex-wrap: nowrap;
    row-gap: 0px;
    --plsmc-rc-col-gap: 10px;
  }
}
@media (max-width: 1919px) {
  .columns__hhqY > :nth-child(2n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 1 / 12);
  }
}
@media (max-width: 1919px) {
  .columns__hhqY > :nth-child(2n + 2) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 11 / 12);
  }
}
@media (max-width: 1439px) {
  .columns__hhqY {
    margin-top: 16px;
    --plsmc-rc-col-gap: 10px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__hhqY {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 16px;
    margin-bottom: 0px;
    row-gap: 0px;
    min-width: 0;
    --plsmc-rc-col-gap: 10px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__hhqY > :nth-child(2n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 1 / 12);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__hhqY > :nth-child(2n + 2) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 11 / 12);
  }
}
.column__aeeLp {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.svg___7B7Ue {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-lpFSrecHZG_s);
  height: 40px;
  z-index: 10;
  flex-shrink: 0;
}
@media (max-width: 1919px) {
  .svg___7B7Ue {
    height: 32px;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .svg___7B7Ue {
    height: 24px;
    flex-shrink: 0;
  }
}
.column__lZlSr {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
}
.link__dgYxQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 22px;
  z-index: 10;
  color: var(--token-Hc8A0GUuJ5dR);
  min-width: 0;
}
@media (max-width: 1919px) {
  .link__dgYxQ {
    font-size: 18px;
  }
}
@media (max-width: 1439px) {
  .link__dgYxQ {
    font-size: 16px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .link__dgYxQ {
    font-size: 15px;
  }
}
.column__qNqg {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
}
@media (max-width: 1919px) {
  .column__qNqg {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
@media (max-width: 1439px) {
  .column__qNqg {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.h4__aPth8 {
  position: relative;
  height: auto;
  max-width: 100%;
  padding-bottom: 30px;
  color: var(--token-Hc8A0GUuJ5dR);
  z-index: 10;
}
@media (max-width: 1919px) {
  .h4__aPth8 {
    width: 100%;
    font-size: 24px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4__aPth8 {
    font-size: 20px;
    padding-bottom: 16px;
  }
}
.impressum {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 22px;
  z-index: 10;
  color: var(--token-Hc8A0GUuJ5dR);
  padding-bottom: 30px;
  min-width: 0;
}
@media (max-width: 1919px) {
  .impressum {
    font-size: 18px;
  }
}
@media (max-width: 1439px) {
  .impressum {
    font-size: 16px;
    padding-bottom: 16px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .impressum {
    font-size: 15px;
  }
}
.politikaPrivatnosti {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 22px;
  z-index: 10;
  color: var(--token-Hc8A0GUuJ5dR);
  min-width: 0;
}
@media (max-width: 1919px) {
  .politikaPrivatnosti {
    font-size: 18px;
  }
}
@media (max-width: 1439px) {
  .politikaPrivatnosti {
    font-size: 16px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .politikaPrivatnosti {
    font-size: 15px;
  }
}
.column__z3Pmd {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 1439px) {
  .column__z3Pmd {
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px;
  }
}
.h4__yNqJ {
  position: relative;
  height: auto;
  max-width: 100%;
  padding-bottom: 30px;
  color: var(--token-Hc8A0GUuJ5dR);
  z-index: 10;
}
@media (max-width: 1919px) {
  .h4__yNqJ {
    width: 100%;
    font-size: 24px;
    min-width: 0;
  }
}
@media (max-width: 1439px) {
  .h4__yNqJ {
    font-size: 20px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4__yNqJ {
    font-size: 20px;
    padding-bottom: 16px;
  }
}
.freeBox {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 24px;
  min-width: 0;
}
@media (max-width: 1439px) {
  .freeBox {
    column-gap: 16px;
    row-gap: 0px;
  }
}
.link__br3A7 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.svg__rMjV {
  object-fit: cover;
  max-width: 100%;
  height: 48px;
  color: var(--token-lpFSrecHZG_s);
  z-index: 10;
}
@media (min-width: 0px) and (max-width: 930px) {
  .svg__rMjV {
    height: 40px;
  }
}
.link__wym3N {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.svg__bNyJk {
  object-fit: cover;
  max-width: 100%;
  height: 48px;
  color: var(--token-lpFSrecHZG_s);
  z-index: 10;
}
@media (min-width: 0px) and (max-width: 930px) {
  .svg__bNyJk {
    height: 40px;
  }
}
.link__ojxNi {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.svg__vEjwh {
  object-fit: cover;
  max-width: 100%;
  height: 48px;
  color: var(--token-lpFSrecHZG_s);
  z-index: 10;
}
@media (min-width: 0px) and (max-width: 930px) {
  .svg__vEjwh {
    height: 40px;
  }
}
.section {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  padding-top: 80px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section > * {
  grid-column: 4;
}
@media (max-width: 1919px) {
  .section {
    padding-top: 60px;
  }
}
@media (max-width: 1919px) {
  .section > * {
    grid-column: 4;
  }
}
@media (max-width: 1439px) {
  .section {
    padding-top: 40px;
  }
}
@media (max-width: 1439px) {
  .section > * {
    grid-column: 4;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .section {
    padding-top: 40px;
    justify-items: flex-start;
    align-content: center;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .section > * {
    grid-column: 4;
  }
}
.text__wSkvN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  z-index: 100;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
@media (max-width: 1919px) {
  .text__wSkvN {
    font-size: 18px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__wSkvN {
    width: 100%;
    text-align: center;
    font-size: 16px;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
