:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Prilagodba CookieYes bannera */
.cky-revisit-bottom-left {
  display: none !important;
}

.cky-notice-des {
  font-family: Quicksand, sans-serif !important;
  font-size: 18px !important;
}

.cky-title {
  font-family: Quando, serif !important;
  font-size: 20px !important;
}

.cky-btn {
  border-radius: 8px;
  font-family: Quicksand, sans-serif !important;
  font-size: 18px !important;
}

.cky-btn:hover {
  border-color: #427AC4 !important;
  background-color: #427AC4 !important;
  color: #ffffff !important;
}
